<a href="https://colab.research.google.com/github/ysg81/BIG_DATA/blob/main/NLTK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import nltk
import pandas as pd
import numpy as np
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [92]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [93]:
# 불용어 설정
stop_words = set(stopwords.words('english'))

# Stemming instance 
pst = PorterStemmer()

# Lemmatization instance
wnl = WordNetLemmatizer()

In [94]:
input_csv_file = '/content/drive/MyDrive/Colab Notebooks/record2.csv'

In [116]:
csv_data = pd.read_csv(input_csv_file, header=None, nrows=None)
csv_data = csv_data.astype(str)

0 : 크롤링 순서

1 : 링크 주소

2 : 평점 (필요)

3 : 제목 및 개봉년도 (필요)

4 : 상영 시간, 장르, 개봉일자 및 제작 국가

5 : 평가 (필요)

In [117]:
# 예외처리 된 부분 삭제
output = csv_data.drop(columns=[0, 1, 4], axis=0)
remove_null = output[output[5] == '-'].index
output = output.drop(remove_null)

In [118]:
def text_lower(doc):
  return doc.lower()

def tokenizer_morphs(doc):
  return word_tokenize(doc)

def remove_stopwords(doc):
  result = []
  for w in doc:
    if w not in stop_words:
      result.append(w)
  return result

def porter_stemmer(doc):
  result = []
  for w in doc:
    result.append(pst.stem(w))
  return result

def wordnet_lemmatization(doc):
  result = []
  for w in doc:
    result.append(wnl.lemmatize(w))
  return result

In [119]:
output

         2  ...                                                  5
0      5.7  ...  New York Assistant District Attorney Howard Ma...
1      7.7  ...  An orphan named Oliver Twist (Sam Smith) meets...
2      4.6  ...  Two spies end up being chased by the C.I.A., T...
3      5.3  ...  A woman's haunting visions reveal a Catholic p...
4      5.3  ...  Paris...at the turn of the century. Inspector ...
...    ...  ...                                                ...
12481  6.5  ...  A rebellious Goth girl embarks on a road trip ...
12482  6.1  ...  After a near-fatal accident, on a horse the ex...
12483  6.9  ...  A documentary that tells the history of The Fa...
12484  7.0  ...  Handsome entrepeneur Abelardo Rios Clarios arr...
12485  7.1  ...  A girl that resemble 'Sadako' of the movie Rin...

[12311 rows x 3 columns]

In [120]:
# 전체 소문자
output['token_text'] = output[5].apply(text_lower)

In [121]:
# 토큰화
output['token_text'] = output['token_text'].apply(tokenizer_morphs)

In [122]:
# 불용어 제거
output['token_text'] = output['token_text'].apply(remove_stopwords)

In [123]:
# Stemming
output['stemmed_tokens'] = output['token_text'].apply(porter_stemmer)

In [124]:
# Lemmatization
output['lamm_tokens'] = output['token_text'].apply(wordnet_lemmatization)

In [125]:
output.to_csv('/content/drive/MyDrive/Colab Notebooks/record2_NLTK.csv')